body {
    font-family: "Cuprum", sans-serif;
    font-size: 18px; 
    line-height: 24px;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: space-around;
}

header {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background-color: #F1F5F7;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

main {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    margin-top: 59px;
}

a {
  text-decoration: none;
}

a:visited {
    color: white;
}

img {
    max-width: 100%;
    height: auto;
}

li {
    list-style-type:none;
}

h3 {
    font-family: Cuprum;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
    color: #000000;
}

.visually-hidden {
    display: none;
}

.header-menu {
    background-color: #293449;
    display: flex;
    width: 100%;
    height: 42px;
    justify-content: center;       
}

.main-logo {
    width: 220px;
    height: 42px;
    background-color: #EE3643;
    box-shadow: 0px 5px 0px 0px #b72530;
    display: flex;
    justify-content: center;   
}

.main-logo img {
    margin-top: 12px;
}

.header-menu, .header-menu a, .navigation a {
    color: white;
}

input[name='search'] {
    width: 228px;
    height: 42px;
    padding: 0px 0px 0px 42px;
    font-family: Cuprum;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    border: none;
    background-image:  url(../img/icon-search.svg) ;
    background-repeat: no-repeat;
    background-position: 17px 12px; 
    background-color: #293449;   
}

input[name='search']::-webkit-input-placeholder,
input[name='search']::-moz-placeholder  {
    color: white;    
}

input, textarea {
    width: 270px;
    height: 42px;
    outline: none;
    border: none;
    border: solid 1px #f2f2f2; 
}

input[name='search']:focus {
    background-color: white;
    background-image: url(../img/icon-search-red.svg);
}

.bookmarks, .cart, .checkout {
    width: 150px;
    height: 42px;
    display: flex;
    align-items: center;
}

.bookmarks:active, .cart:active {
    background-color: #161D29;
    color: rgba(255, 255, 255, 0.5);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.checkout  {
    background-color: #63A63E;
}

.checkout:hover {
    background-color: #5FBB2D;
}

.checkout:active a {
    color: rgba(255, 255, 255, 0.5); 
}

.checkout:active {
    background-color: #63A63E;
}

.header-info {
    display: flex;
    width: 940px;
    height: 153px;
    justify-content: space-around;
    align-items: center;
}

.contact-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.description {
    font-style: italic;
    font-weight: normal;
    font-size: 16px;
    line-height: 23px;
    width: 197px;
}

.phone a {
    font-style: normal;
    font-weight: bold;
    font-size: 21px;
    line-height: 30px;
}

.phone {
    width: 151px;
    height: 38px;
    border: solid 5px white;
    padding-left: 74px;
    padding-right: 45px;
    padding-top: 7px;
}

.description, .phone a {
    color: #EE3643;
}

.address {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
}

.account a {
    font-style: normal;
    font-weight: normal;
    font-size: 21px;
    line-height: 21px;
    color: #000000;
}

.account-menu {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    color: #32425C;
}

.account:hover a, .account-menu:hover {
    color: #EE3643;
}

.account:active a, .account-menu:active { 
    color: #C5C5C5;
}

.navigation {
    background-color: #32425C;
    width: 940px;
}

.navigation ul {
    display: flex;
    justify-content: space-around;
    box-sizing: content-box;
}


.navigation-item:hover {
    background-color: #293449;
}

.navigation-item:active {
    background-color: #1D2739;
}

.navigation-item:active a {
    color: rgba(255, 255, 255, 0.5);
}

.main-cards {
    font-family: 'Cuprum';
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    display: grid;
    grid-template-columns: 300px 300px 300px;
    grid-template-rows: 123px 123px 123px;
    gap: 20px;
}
.materials-card {
    background-color: #FFBF47;
}

.instruments-card {
    background-color: #3BBCE3;
}

.technics-card {
    background-color: #DC91D8;
}

.sale-card {
    background-color: #8ED78F;
}

.delivery-card {
    background-color: #FFC047;
}

.cards-slider {
    grid-column: 1 / 3;
    grid-row: 2 / 4;
}

.cards-link a{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    color: white;
}

.cards-link {
    background-color: rgba(255, 255, 255, 0.5);
    ;
}

.cards-link:hover {
    background-color: rgba(197, 197, 197, 0.5); ;
}

.cards-link:active {
    background-color: rgba(169, 169, 169, 0.5);
}

.popular {
    margin-top: 59px;
    
}

.popular-caption {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 28px;
    padding-right: 14px;
}

.popular-link {
    background-color: #EE3643;
    width: 192px;
    height: 38px;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.popular-caption h3, .catalog-head h1{
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
    color: #32425C;
}

.popular-caption, .catalog-head {
    background-color: #F9F5F0;
}

.popular-link a, .info-button a, .find-me a {
    font-family: Cuprum;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    text-transform: uppercase;
    color: white;
}

.cards-place {
    width: 940px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 20px;
    margin-bottom: 59px;
}

.goods-card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 220px;
    height: 318px;
    border: 1px solid #EAEAEA;
}

.goods-card a {
    font-family: PT Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 20px;
    color: #000000;
    width: 185px;
    text-align: center;
}

.old-price {
    font-family: PT Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 18px;
    text-decoration: line-through;
    text-transform: uppercase;
    color: #A9A9A9;
}

.new-price {
    background-image: url(../img/red-button.svg);
    background-repeat: no-repeat;
    width: 141px;
    height: 38px;
    overflow: hidden;
    padding-top: 1px;
    border-top: 1px solid transparent;  
}
.new-price p {
    font-family: PT Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 18px;
    text-transform: uppercase;
    color: white;
    text-align: center;
    margin-top: 10px;
    margin-right: 44px;
    margin-bottom: 10px;
    margin-left: 32px;
}

.manufacturer {
    width: 220px;
    height: 145px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #EAEAEA;
}

.service-block {
    background-color: #F1F5F7;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 522px;
    align-items: center;
}

.service p {
    font-family: PT Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 24px;
    color: #000000;
    width: 400px;
    margin-bottom: 68px;
}

.service {
    width: 940px;
    display: flex;
    flex-direction: column;
}

.service-slider-controls {
    position: relative;
    float: left;
    width: 240px;
}

.service-slider-control:after {
    position: absolute;
    right: 0;
    top: -50px;
    z-index: 100;
    width: 10px;
    height: 272px;
    background-position: -459px 0;
}

.service-slider-control {
    display: block;
    padding: 14px 22px 15px 22px;
    border-top: 1px solid #405069;
    border-bottom: 1px solid #293449;
    font-size: 21px;
    line-height: 30px;
    font-family: 'Cuprum', 'Arial', sans-serif;
    font-weight: 700;
    color: #ffffff;
    background-color: #32425c;
    cursor: pointer;
}

.service-slider input[type='radio'] {
    display: none;
}

.service-slider-btn-1:checked ~ .service-slider-controls .control-1,
.service-slider-btn-2:checked ~ .service-slider-controls .control-2,
.service-slider-btn-3:checked ~ .service-slider-controls .control-3 {
    color: #32425c;
    background-color: #ffffff;
    border-color: #ffffff;
}

.service-slider-control:hover {
    background-color: #293449;
}

.service-slider-inner {
    float: right;
    width: 620px;
    min-height: 284px;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: 100% 100%;
}

.service-slider-btn-1:checked ~ .service-slider-inner {
    background-image: url(../img/Layer131.png)
}

.service-slider-btn-2:checked ~ .service-slider-inner {
    background-image: url(../img/Layer130.png);
}

.service-slider-btn-3:checked ~ .service-slider-inner {
    background-image: url(../img/Layer119.png);
}

.service-slides {
    width: 300%;
    min-height: 272px;
}

.service-slider-btn-1:checked ~ .service-slider-inner .service-slides {
    -webkit-transform: translate(0);
    -ms-transform: translate(0);
    transform: translate(0);
}

.service-slider-btn-2:checked ~ .service-slider-inner .service-slides {
    -webkit-transform: translate(-620px);
    -ms-transform: translate(-620px);
    transform: translate(-620px);
}

.service-slider-btn-3:checked ~ .service-slider-inner .service-slides {
    -webkit-transform: translate(-1240px);
    -ms-transform: translate(-1240px);
    transform: translate(-1240px);
}

.service-slide {
    float: left;
    width: 620px;
}

.service-slide-title {
    margin: 0 0 24px 0;
    padding: 0;
    font-size: 36px;
    line-height: 36px;
    font-family: 'Cuprum', 'Arial', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    color: #32425c;
}

.service-slide-text {
    margin-bottom: 25px;
    width: 380px;
}

.service-slide-btn {
    display: block;
    width: 195px;
    height: 38px;
    background-color: #ee3643;
    border-radius: 3px;
    display: flex;
    justify-content: center;
}



.info-text {
    width: 478px;
}
.main-text {
    font-family: PT Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 24px;
    color: #000000;
}

.partners-list {
    color: #000000;
}

.partners-list li {
    list-style-image: url(../img/marker.svg);
}

.info-button, .find-me {
    background-color: #EE3643;
}

.contacts .main-text {
    width: 180px;
}

.contacts {
    width: 300px;
}

footer {
    width: 100%;
}

.footer-big {
    background-color: #32425C;
    display: flex;
    width: 100%;
    justify-content: center;
}

.footer-phone a {
    color: white;
}

.footer-logo {
    width: 220px;
    height: 63px;
    background-color: #EE3643;
    box-shadow: 0px 5px 0px 0px #b72530;
    display: flex;
    justify-content: center;
}

.footer-big nav a, .footer-big p {
    color: #F1F5F7;
}

.footer-spec a {
    color: #FFDA96;
}

.footer-contacts {
    font-family: Cuprum;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    background-color: #293449;
    display: flex;
    width: 100%;
    justify-content: center;
    height: 107px;
}

.footer-contacts p {
    color: white;
}

.footer-contacts a {
    color: #FFDA96; 
}

fieldset {
    border: none;
}

legend {
    font-family: PT Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 30px;
    text-transform: uppercase;
    color: #000000;
}

fieldset label {
    font-family: PT Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 19px;
    text-transform: uppercase;
    color: #000000;
}